*{box-sizing: border-box;}
html{scroll-behavior: smooth;}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
}
.navBar{
    background-color:rgb(12, 86, 107); 
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
}
.nav_link{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.7em;
    text-align: center;
}
.nav_link3{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.7em;
    text-align: center;
}
.nav_link4{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.7em;
    text-align: center;
}
.nav_link5{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.7em;
    text-align: center;
}
.nav_link6{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.7em;
    text-align: center;
}
.nav_link3:hover{
    color: rgb(30, 174, 185);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.nav_link4:hover{
    color: rgb(214, 98, 21);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.nav_link5:hover{
    color: rgb(27, 191, 27);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.nav_link6:hover{
    color: red;
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.nav_link:hover{
    color: rgb(230, 147, 23);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.section{
    position: relative;
}
.titlescreen{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6%;
    border-radius: 5%;
    box-shadow: none;
}
.titlescreen:hover{
   box-shadow: 2px 2px 5px rgb(34, 84, 113);
   border: none;
}
body{
    background: rgb(79, 122, 152); 
}
.hyperlink1{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 62%;
    left: 32.5%;
    font-size: large;
    padding-left: 2em;
    padding-right: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%;
    text-decoration: none;
}
.hyperlink1:hover{
    background-color: red;
    color: white;
}
.hyperlink2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 68.4%;
    left: 32.5%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 18%; 
    text-decoration: none;
}
.hyperlink2:hover{
    background-color: red;
    color: white;
}
.hyperlink3{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 74.5%;
    left: 32%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%; 
    text-decoration: none;
}
.hyperlink3:hover{
    background-color: red;
    color: white;
}
.hyperlink4{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 80.5%;
    left: 33%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%; 
    text-decoration: none;
}
.hyperlink4:hover{
    background-color: red;
    color: white;
}
div#lH {
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    font-size: 25px;
    top: 19.5%;
    left: 41.5%;
    text-align:center;
    color: #2f0000;
  }
  audio#aH {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 2;
    opacity: 0.01;
  }
  .secret{
    margin-left: 27em;
  }

