*{box-sizing: border-box;}
html{scroll-behavior: smooth;}

.navBar{
    background-color:rgb(12, 86, 107); 
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
}
.nav_link{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.9em;
    text-align: center;
}
.nav_link:hover{
    color: rgb(230, 147, 23);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.section{
    position: relative;
}
.titlescreen{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6%;
    border-radius: 5%;
    box-shadow: none;
}
.titlescreen:hover{
   box-shadow: 2px 2px 5px rgb(34, 84, 113);
   border: none;
}
body{
    background: rgb(79, 122, 152); 
}
.hyperlink1{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 60.6%;
    left: 34%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%;
    text-decoration: none;
}
.hyperlink1:hover{
    background-color: red;
    color: white;
}
.hyperlink2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 67.05%;
    left: 33%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%; 
    text-decoration: none;
}
.hyperlink2:hover{
    background-color: red;
    color: white;
}
.hyperlink3{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 73.05%;
    left: 33%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%; 
    text-decoration: none;
}
.hyperlink3:hover{
    background-color: red;
    color: white;
}
.hyperlink4{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    top: 79.1%;
    left: 33%;
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15%; 
    text-decoration: none;
}
.hyperlink4:hover{
    background-color: red;
    color: white;
}

/*--------CONTINUE-------*/

.image{
    width: 20%;
    left: 20%;
    margin-bottom: 2em;
}
.image2{
    width: 20%;
    margin-left: 55em;
    margin-bottom: 7em;
    margin-top: -50em;
}

.image3{
    width: 20%;
    left: 20%;
    margin-bottom: 2em;
}

.image4{
    width: 20%;
    margin-left: 40em;
    margin-bottom: 2em;
}
.image5{
    width: 20%;
    left: 20%;
    margin-bottom: 2em;
}
.gif{
    width: 25%;
    right: 20%;
    margin-left: 55em;
    margin-bottom: 40em;
    margin-top: -24em;
}
.charinfo{
    color: white;
    margin-left: 14em;
    margin-right: 19em;
    margin-top: -18.5em;
    text-align: center;
    margin-bottom: 11em;
    font-size: 1.2em;
}
.gif2{
    width: 15%;
    margin-left: 3%;
    margin-bottom: 2em;
}
.charinfo2{
    color: white;
    margin-left: 15em;
    margin-right: 20em;
    margin-top: -15em;
    text-align: center;
    margin-bottom: 11em;
    font-size: 1.2em;
}
.gif3{
    width: 20%;
    right: 20%;
    margin-left: 55em;
    margin-bottom: 2em;
    margin-top: -60em;
}
.gif4{
    width: 22%;
    margin-left: 3%;
    margin-bottom: 4em;
    bottom: 25%;
}
.gif5{
    width: 25%;
    right: 20%;
    margin-left: 55em;
    margin-bottom: 3em;
    margin-top: -40em;
}
.titlename{
    text-align: center;
    font-size: xx-large;
    font-family: algerian;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 1px red;
    margin-top: 2em;
}
.nav_link2{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.6em;
    text-align: center;
}
.nav_link2:hover{
    color: rgb(230, 147, 23);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.card{
    background-color: rgb(219, 153, 31);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card2{
    background-color: rgb(75, 49, 2);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card3{
    background-color: rgb(105, 104, 42);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card4{
    background-color: rgb(85, 35, 146);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card5{
    background-color: rgb(53, 47, 36);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.container{
    margin-top: 8em;
}
.divider{
    height: 4em;
}
.divider2{
    height: 5em;
}
.divider3{
    height: 3.5em;
}
.divider4{
    height: 4em;
}
.divider5{
    height: 3em;
}
.container2{
    margin-top: 8em;
    margin-bottom: 8em;
}
