*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{
    background: rgb(79, 122, 152); 
}
.navBar{
    background-color:rgb(12, 86, 107); 
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
    border-radius: 5px;
}
.nav_link{
    color:  rgb(175, 218, 230);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 1.1em;
    text-align: center;
}
.nav_link:hover{
    color: rgb(230, 147, 23);
    background-color: rgb(58, 57, 57);
    font-size: 1.4em;
    font-weight: 900;
    font-family: algerian;
}
.title{
    margin-top: 4em;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    color: white;
    text-shadow: 4px 4px 1px red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table, th, td{
    margin-top: 3em;
    border: 1px solid black;
    background-color: rgb(97, 102, 121);
    margin-left: 25%;
    margin-right: 8%;
    text-align: center;
    color: rgb(255, 213, 213);
}
.roletitle{
    margin-left: 16%;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 1px red;
    margin-top: 7em;
}
.commoner{
    width: 13%;
    margin-left: 6%;
    transform: rotate(-35deg);
    position: absolute;
    transition: ease-in-out 1.5s;
}
.commoner:hover{
    transform: rotate(35deg);
}
.keymaster{
    width: 13%;
    margin-left: 80%;
    transform: rotate(35deg);
    position: absolute;
    transition: ease-in-out 1.5s;
}
.keymaster:hover{
    transform: rotate(-35deg);
}
.sage{
    width: 13%;
    margin-left: 4%;
    transform: rotate(-35deg);
    position: absolute;
    transition: ease-in-out 1.5s;
}
.sage:hover{
    transform: rotate(35deg);
}
.sacrifice{
    width: 13%;
    margin-left: 80%;
    transform: rotate(35deg);
    position: absolute;
    transition: ease-in-out 1.5s;
}
.sacrifice:hover{
    transform: rotate(-35deg);
}
.commoner1{
    color: rgb(123, 138, 216);
    font-weight: bold;
}
.keymaster1{
    color: rgb(205, 173, 13);
    font-weight: bold;
}
.sage1{
    color: rgb(62, 186, 62);
    font-weight: bold;
}
.sacrifice1{
    color: red;
    font-weight: bold;
}
.ruletitle{
    margin-top: 5em;
    margin-left: 25em;
    color: white;
    text-shadow: 4px 4px 1px red;
}
li{
    font-size: 1.2em;
    color: rgb(255, 213, 213);
}
.list{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 22%;
}
.list2{
    margin-left: 8%;
    margin-right: 25%;
}
.list3{
    margin-left: 15%;
    margin-right: 28%;
}
.list4{
    margin-left: 8%;
    margin-right: 31%;
}
.trading{
    margin-top: 5em;
    margin-left: 32%;
    color: white;
    text-shadow: 4px 4px 1px red; 
}
.tradinginfo{
    margin-left: 25%;
    margin-right: 3%;
    color: rgb(255, 213, 213);
    font-size: 1.2em;
}
.agenda{
    margin-top: 5em;
    margin-left: 25em;
    color: white;
    text-shadow: 4px 4px 1px red;
}
.order1{
    margin-top: 3em;
    margin-left: 20%;
}
.order2{
    margin-top: 1em;
    margin-left: 18%;
}
.order3{
    margin-top: 1em;
    margin-left: 16%;
}
.order4{
    margin-top: 1em;
    margin-left: 14%;
    margin-bottom: 14%
}
div#lH {
    margin-top: 4em;
    bottom: 73%;
    left: 40.1%;
    position: absolute;
   font-size: xx-large;
   font-weight: bolder;
   text-align: center;
   text-decoration: underline;
   color: white;
   text-shadow: 4px 4px 1px red;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  audio#aH {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 2;
    opacity: 0.01;
  }
  .secret{
    position: absolute;
    bottom: 73%;
  }