*{box-sizing: border-box;}
.title{
    text-align: center;
    padding: 1em;
    background-color: plum;
}
.navHoz{
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}
.navHoz a{
    color: steelblue;
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    width: 33.33%;
    text-align: center;
}
.navHoz a:hover{
    background-color: mediumpurple;
    color: lightpink;
    font-weight: bolder;
    box-shadow: 0px 0px 5px 1px lightsteelblue;
}
/* === VERTICAL NAV TABS*/
.navVertical{
    background-color: rgb(207, 201, 255);
    width: 200px;
}
.navVertical a{
    display: block;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
    color:blueviolet;
}
.navVertical a:hover{
    background-color:rgb(245, 163, 204) ;
    font-weight: bolder;
}
footer{
    text-align: center;
    background-color: rgb(248, 182, 190);
    padding: 1em;
}